

<%-include("header")-%>
<h1>Hello </h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, aspernatur! Iusto architecto incidunt quis, alias expedita minima, magni, quos quaerat ea in repellat voluptate aspernatur maiores modi enim nesciunt neque!</p>
<%-include("footer")-%>